* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(239, 239, 239);
  font-family: Inknut Antiqua, serif;
  font-size: 15px;
  height: 100vh;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 80px;
  margin-left: 20px;
}

#trybewarts-header-title {
  color: white;
  font-size: 2.5em;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  margin: 30px;
}

#title-form {
  text-align: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

/* Refencia ao requisito 10: Alinhamento de inputs.
https://github.com/tryber/sd-018-a-project-trybewarts/pull/
81/commits/868e3f6ff8dc8dc07ec92cf24e73eaeee97da290 */

/* divs formularios - campo Nome e sobrenome */
.div-form {
  display: flex;

}

.input-form {
  flex-grow: 1;
}

/* divs formularios - campos Email e select */
.container-emailSelect {
  display: flex;
  padding-bottom: 15px;
}

.div-email {
  display: flex;
  width: 50%;
  box-sizing: border-box;
}

.div-select {
  display: flex;
  width: 50%;
  box-sizing: border-box;
  align-items: center;
}

.div-select .select {
  flex-grow: 1;
}

/* divs formularios - Perguntas sobre família e conteúdos */
.div-familia-conteudo {
  display: flex;
  border-top: solid 1px rgb(160, 160, 160);
  border-bottom: solid 1px rgb(160, 160, 160);
  padding-top: 20px;
  padding-bottom: 15px;
}

.div-familia {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.div-conteudo {
  display: flex;
  width: 65%;
  flex-direction: column;
}

.checkbox-conteudo {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1;
}

.checkbox-conteudo label {
  padding-right: 70px;
}

.div-avalia {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
}

.div-escala {
  display: flex;
  justify-content: space-between;
  flex-basis: 70%;
}

.div-escala label {
  align-self: flex-end;
  flex-basis: 60%;
}

#label-rate {
  flex-basis: 50%;
}

.div-comentario {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-bottom: -55px;
}

#hofs {
  margin-left: 10px;
}

#textarea {
  width: 100%;
  resize: none;
  border: 1px solid rgb(78, 44, 131);
  border-radius: 4px;
}

#submit-btn , #btnLogin {
  background-color: rgb(78, 44, 131);
  color: white;
  height: 35px;
  border-radius: 5px;
  font-size: 12px;
  font-family: Inknut Antiqua, serif;
  font-weight: 600;
}

#btnLogin {
  width: 150px;
  height: 50px;
  border-radius: 8px;

}

.input {
  border: none;
  padding: 7px 15px;
  margin: 7px 3px;
  border-radius: 8px;
  background-color: white;
  font-family: Inknut Antiqua, serif;

}

.login {
  display: flex;
  align-items: center;
}


/* https://www.w3schools.com/cssref/css3_pr_transform.asp
referencia ao código do Alan Fernandes CSS Translate */

#counter {
  display: flex;
  align-self: flex-end;
  transform: translate(-8px, -33px);
}

.footer {
  display: flex;
  background-color: rgb(61, 61, 61);
  height: 50px;
  justify-content: center;
  align-content: flex-end;
}

h3 {
  text-align: center;
  color: white;
}
